body{
    background-color:hsl(234, 29%, 20%);
    color:rgb(34, 34, 73);
    display:flex;
    justify-content:center;
    font-family: 'Roboto';

}
.text{
    display:absolute;
    float:left;
    font-weight:lighter;
    flex-direction: column;
    gap:20px;
    position: relative;
    margin-left:-400px;
    justify-content :left;
    font-size:13px;
}
svg{
    margin:1px 10px 10px 10px;
    display: flex;
}
.container{
    color:hsl(234, 29%, 20%);
    font-size:20px;
    background-color: white;
    width: 50%;
    height: 55%;
    margin: 60px;
    padding : 20px 20px;
    display:flex;
    align-items:center;
    position: fixed;
    flex-direction: column;    
    padding: 100px 50px;
    border-radius:30px;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}
.container h1{
    float:left;
    font-size:50px;
    font-weight: bold;
    position: relative;
    margin:-30px -10px 20px 5px ;
    margin-left:-420px;
    text-align: start;
    color:hsl(234, 29%, 20%);
    display:flex;
}
.container span{
    color : hsl(234, 29%, 20%);
    display:flex;

}
.main{
    font-size: 12px;
    font-weight: bold;
    width:100%;
    height:20px;
    text-align: center;
    display:flex;
}
.main span{
    margin-left:-10px;
}
input{
    width:310px;
    height:40px;
    border : 1px solid rgb(161, 159, 159);
    border-radius:10px;
    padding: 8px 20px;
    margin:30px;
    margin-left: -170px;
    display:flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color:hsl(234, 29%, 20%);
    width:315px;
    height:50px;
    color:white;
    border:1px solid black;
    display:flex;
    margin-left:-390px;
    margin-top:80px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    cursor:pointer;
}

.button:hover{
    background-image: linear-gradient(to left,rgb(177, 169, 166),rgb(20, 4, 58));
    font-weight:70;
    transition: 0.6s all ;
}

.image{
    float:right;
    width:53%;
    height:100%;
    margin: 5px 5px 5px 5px ;
    position:relative;
    margin-top:-647px;
    margin-left:400px;
    display:flex;
}
.cardsucess{
    display: none;
}
.cardsucess1{
    display:flex;
    flex-direction: column;
    background-color: white;
    width:400px;
    justify-content: center;
    margin:10px;
    padding:20px;
    border-radius:9px;
}
.remove{
    display: none;
}
.para{
    font-size: 14px;
    font-weight: 400;
}
.error{
    display: none;
    visibility: hidden;
}
.error1{
    display: block;
    color: red;
}
#emailu{
    color: hsl(234, 29%, 20%);

}
.dismiss{
    border: none;
    border-radius: 7px;
    background-image: linear-gradient(to right,rgb(255, 52, 16),rgb(255, 83, 53),rgb(255, 114, 89));
    padding:7px 12px;
    width:350px;
    height:50px;
    margin-top: 10px;
    cursor: pointer;
}
.dismiss:hover{
    box-shadow:0 0 15px white;
    background-image: linear-gradient(to left,rgb(255, 123, 71),tomato);
    transition: 0.6s all ;
}
